/* styles for resume */
/*/media queries */
@media screen and (max-width: 1600px){
  /* masthead elements */
  header {
    width: 100%;
    background-image: url(images/IMG_2923.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 1%;
  }

  #name {
    text-align: center;
    color: white;
    text-transform: uppercase;
    -webkit-text-stroke: 1px black;
    font-size: 550%;
    font-family: Courier, Monaco, monospace;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 55%;
    border-bottom: 6px solid;
  }

  #title {
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 130%;
    font-family: "Lucida Grande", Arial, sans-serif;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 15%;
  }

  /* headshot */
  #headshot {
    border-radius: 50%;
    border: 6px solid;
    border-color: white;
    width: 25%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 25%;
  }

  /* body text container to raise elements up */
  #content {
    width: 100%;
    margin-top: -14%;
    margin-bottom: -3%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 12%;
    left: 0;
    right: 0;
  }

  /* sections */
  .sectionheader {
    font-family: Courier, Monaco, monospace;
    font-size: 250%;
    text-transform: uppercase;
    color: #E58E9F;
    text-align: center;
    font-weight: bolder;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-bottom: 3px solid;
  }

  /* hyperlink color */
  a {
    color: #419BB8;
  }

  /* about me section */
  .aboutme {
    font-family: "Lucida Grande", Arial, sans-serif;
    font-size: 110%;
    text-align: center;
    color: #419BB8;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    padding: 1% 12% 0% 12%;
  }

  /* position name */
  .jobtitle {
    font-family: "Lucida Grande", Arial, sans-serif;
    color: #419BB8;
    text-align: center;
    font-weight: bolder;
    font-size: 150%;
  }

  /* organization */
  .organization {
    font-family: "Lucida Grande", Arial, sans-serif;
    color: #419BB8;
    text-align: center;
    font-weight: bold;
    font-size: 125%;
    margin: 2% 0% 2% 0%;
  }

  /* dates active */
  .date {
    font-family: "Lucida Grande", Arial, sans-serif;
    color: #419BB8;
    text-align: center;
    font-weight: lighter;
    font-style: italic;
    font-size: 100%;
    margin: 0% 0% 2% 0%;
  }

  /* explanation of job */
  .description {
    font-family: "Lucida Grande", Arial, sans-serif;
    font-size: 100%;
    text-align: center;
    color: #419BB8;
    font-weight: normal;
    margin: 0% 0% 0% 0%;
  }



  /* education list */
  .EDcontainer {
    font-family: "Lucida Grande", Arial, sans-serif;
    font-size: 100%;
    text-align: center;
    color: #419BB8;
    margin-bottom: 0%
  }

  /* skills lists */
  #list {
    font-family: "Lucida Grande", Arial, sans-serif;
    font-size: 110%;
    text-align: center;
    color: #419BB8;
    font-weight: normal;
    margin: 1% 0% 0% 0%;
    list-style-position: inside;
    padding: 0% 10% 0% 10%;
  }

  /* icons */
  .icon {
    color: white;
    background-color: #E58E9F;
    border-radius: 50%;
    width: 5%;
    padding: 1.2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 220%;
  }

  /* linkedin icon location */
  #linkedin {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 40%;
    left: 23%;
  }

  /* github icon location */
  #github {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 40%;
    left: 27%;
  }

  /* phone icon location */
  #phone {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 40%;
    left: 53%;
  }

  /* email icon location */
  #email {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 40%;
    left: 57%;
  }
}

@media screen and (max-width: 414px){
  /* masthead elements */
  header {
    width: 100%;
    background-image: url(images/IMG_2923.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 2% 0% 2% 0%;
  }

  #name {
    text-align: center;
    color: white;
    text-transform: uppercase;
    -webkit-text-stroke: 1px black;
    font-size: 200%;
    font-family: Courier, Monaco, monospace;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    width: 80%;
    border-bottom: 2px solid;
  }

  #title {
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 100%;
    font-family: "Lucida Grande", Arial, sans-serif;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 18%;
  }

  /* headshot */
  #headshot {
    align-content: center;
    border-radius: 50%;
    border: 2px solid;
    border-color: white;
    width: 35%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 8%;
  }

  /* hyperlink color */
  a {
    color: #419BB8;
    font-size: 60%;
  }

  /* skills lists */
  #list {
    font-family: "Lucida Grande", Arial, sans-serif;
    font-size: 100%;
    text-align: center;
    color: #419BB8;
    font-weight: normal;
    margin: 1% 0% 0% 0%;
    padding: 0% 5% 0% 5%;
    list-style-position: inside;
  }

  /* body text container to raise elements up */
  #content {
    width: 100%;
    margin-top: -3%;
    margin-bottom: -10%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 12%;
    left: 0;
    right: 0;
  }

  /* sections */
  .sectionheader {
    font-family: Courier, Monaco, monospace;
    font-size: 150%;
    text-transform: uppercase;
    color: #E58E9F;
    text-align: center;
    font-weight: bolder;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-bottom: 2px solid;
  }


  /* position name */
  .jobtitle {
    font-family: "Lucida Grande", Arial, sans-serif;
    color: #419BB8;
    text-align: center;
    font-weight: bolder;
    font-size: 125%;
    padding: 0% 5% 0% 5%;
  }

  /* organization */
  .organization {
    font-family: "Lucida Grande", Arial, sans-serif;
    color: #419BB8;
    text-align: center;
    font-weight: bold;
    font-size: 100%;
    margin: 2% 0% 2% 0%;
    padding: 0% 5% 0% 5%;
  }

  /* dates active */
  .date {
    font-family: "Lucida Grande", Arial, sans-serif;
    color: #419BB8;
    text-align: center;
    font-weight: lighter;
    font-style: italic;
    font-size: 75%;
    margin: 0% 0% 2% 0%;
    padding: 0% 5% 0% 5%;
  }

  /* explanation of job */
  .description {
    font-family: "Lucida Grande", Arial, sans-serif;
    font-size: 75%;
    text-align: center;
    color: #419BB8;
    font-weight: normal;
    margin: 0% 0% 5% 0%;
    padding: 0% 5% 0% 5%;
  }

  /* resize section headers for some reason */
  #education {
    font-size: 200%;
  }

  #skills {
    font-size: 200%;
  }

  /* education list */
  h4 {
    font-size: 150%;
    font-weight: bolder;
  }

  .container {
    font-family: "Lucida Grande", Arial, sans-serif;
    font-size: 75%;
    text-align: center;
    color: #419BB8;
    margin-top: 1%;
    margin-bottom: -4%;
  }

  /* icons */
  .icon {
    color: white;
    background-color: #E58E9F;
    border-radius: 50%;
    width: 10%;
    height: 4.5%;
    padding-top: 2.3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 200%;
  }

  /* linkedin icon location */
  #linkedin {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 14%;
    left: 6%;
  }

  /* github icon location */
  #github {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 14%;
    left: 9%;
  }

  /* phone icon location */
  #phone {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 14%;
    left: 47.5%;
  }

  /* email icon location */
  #email {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 14%;
    left: 50.5%;
  }
}

/* body */
body {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/* navbar */
.navbar {
  position: fixed;
  background-color: #419BB8;
  font-family: "Lucida Grande", Arial, sans-serif;
  position: sticky;
  top: 0%;
  z-index: 300;
  width: 100%;
}

/* column padding */
.col-sm {
  padding: 2% 2% 0% 2%;
}

.col-md-4 {
  padding: 2% 2% 0% 2%;
}

/* footer */
footer {
  position: relative;
  width: 100%;
  background-color: #419BB8;
  margin: 0% auto;
}

/* footer text */
#copyright {
  font-family: "Lucida Grande", Arial, sans-serif;
  text-align: center;
  font-size: 100%;
  color: white;
  font-weight: normal;
  padding: 2% 0% 2% 1%;
}
