/* styles for midterm exercise */

/* masthead elements */
header {
  background-image: url(images/IMG_2923.jpg);
  background-size: 100%;
  padding: 1px;
}

#name {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 5.5em;
  font-family: Courier, Monaco, monospace;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 55%;
  border-bottom: 6px solid;
}

#title {
  text-align: center;
  color: white;
  font-size: 1.3em;
  font-family: "Lucida Grande", Arial, sans-serif;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 230px;
}

/* headshot */
#headshot {
  border-radius: 50%;
  border: 6px solid;
  border-color: white;
  width: 25%;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  bottom: 200px;
}

/* body text container to raise elements up */
#content {
  width: 100%;
  max-width: 1000px;
  margin-bottom: -70px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 120;
  left: 0;
  right: 0;
}

/* sections */
.sectionheader {
  font-family: Courier, Monaco, monospace;
  font-size: 1.75em;
  text-transform: uppercase;
  color: #E58E9F;
  text-align: center;
  font-weight: 700;
  padding-bottom: 5px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-bottom: 3px solid;
}

/* position name */
.jobtitle {
  font-family: "Lucida Grande", Arial, sans-serif;
  color: #419BB8;
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
  margin: 5px 0px 10px 0px;
}

/* organization */
.organization {
  font-family: "Lucida Grande", Arial, sans-serif;
  color: #419BB8;
  text-align: center;
  font-weight: 400;
  font-size: 1.25em;
  margin: 0px 0px 10px 0px;
}

/* dates active */
.date {
  font-family: "Lucida Grande", Arial, sans-serif;
  color: #419BB8;
  text-align: center;
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  margin: 0px 0px 10px 0px;
}

/* explanation of job */
.description {
  font-family: "Lucida Grande", Arial, sans-serif;
  font-size: 1em;
  text-align: center;
  color: #419BB8;
  font-weight: 400;
  margin: 0px 0px 40px 0px;
}

/*education and skills lists */
#list {
  font-family: "Lucida Grande", Arial, sans-serif;
  font-size: 1em;
  text-align: center;
  color: #419BB8;
  font-weight: 400;
  margin: 5px 0px 0px 0px;
  list-style-position: inside;
}

/* footer */
footer {
  position: relative;
  width: 100%;
  background-color: #419BB8;
  margin: 0 auto;
}

/* footer text */
#copyright {
  font-family: "Lucida Grande", Arial, sans-serif;
  text-align: center;
  font-size: 1em;
  color: white;
  font-weight: 400;
  padding: 30px 0px 30px 10px;
}
