/* styles for midterm exercise */

/* masthead */
header {
  background-image: url(https://user-images.githubusercontent.com/70605125/97212430-cefaac80-1796-11eb-955e-1c03fd29e998.JPG);
  background-size: 100%;
  padding: 1px;
  margin-bottom: 20px;
}

#masthead {
  text-align: center;
  color: white;
  font-size: 80px;
  font-family: Tahoma, sans-serif;
  font-weight: bold;
  margin: 35px;
}

/* entire article */
#content {
  margin: 0 auto;
  width: 900px;
}

/* headline */
h1 {
  font-family: Georgia, serif;
  font-size: 30px;
  color: #d83e56;
  margin-bottom: 10px;;
}

/* byline */
#byline {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
}

/* article text */
p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-align: justify;
}

/* images */
img {
  margin-top: 10px;
  width: 900px;
}

/* captions for images */
#caption {
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  font-weight: lighter;
  text-align: justify;
  margin-bottom: 13px;
}

/* subheads */
h2 {
  color: #d83e56;
  font-size: 20px;
  font-family: Georgia, serif;
  font-weight: normal;
}

/* pull quote */
blockquote {
  color: #d83e56;
  font-size: 16px;
  font-family: Helvetica, serif;
  margin: 15px 50px 15px 0px;
  padding-left: 15px;
  border-left: 2px solid #d83e56;
}


/* links list */
li {
  font-family: Georgia, serif;
  font-size: 13px;
}
